footer{
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

.footerinc {
    color: #EEEEEE;
    background-color: #555555;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.datechoice {
    display: flex;
    justify-content: center;
}

.datefont {
    font-size: 1.5vw;
}

.theme {
    margin: 0 auto;
    font-size: 2vw;
    font-family: cursive;
    background-color: #D3D3D3;
    width: 100%;
    color: black;
    text-align: center;
    padding: 2%;
}

.wrapper {
    text-align: center;
}

a.btn_04 {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 15vw;
	padding: 1rem 4rem;
	font-weight: bold;
    margin: auto;
	border: 2px solid #27acd9;
	background: #27acd9;
	color: #fff;
	border-radius: 100vh;
	transition: 0.5s;
}
a.btn_04:hover {
	color: #27acd9;
	background: #fff;
}

.forminn {
    text-align: center;
}